@model NoteApp.Data.Entities.Note
<div class="card shadow" style="width:50vh">
  <div class="card-body">
    <h5 class="card-title">@Model.Title</h5>

        @if(@Model.Content ==null)
        {
            <p class="card-text opacity-25">Empty Note</p>
        }
        else
        {
            <p class="card-text">@Model.Content</p>
        }

        <a href="/Dashboard/Note/@Model.Id" class="btn btn-primary">Button</a>
  </div>
</div>