<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="product-item">
        <div class="note-item-head row">
            <div style="float:left;margin-left:1em">
                <h3><b>Test Note Tab</b></h3>
            </div>
            <div style="float:right;margin-right:1em">
                <div class="text-right">
                   <a style="float:left;margin-right:1em; color:black" href="#"><h3><i class="fa fa-edit"></i></h3></a>
                   <a style="float:left;" href="#"><h3><i class="fa fa-close"></i></h3></a>
                </div>
            </div>
        </div>
        <hr style="margin:0; margin-bottom:1.5em" />
        <div>
            <p>Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
            <a href="javascript:;" class="">See more</a>
        </div>
    </div>
</div>