@using Microsoft.AspNetCore.Identity
@using NoteApp.Data.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var popup = ViewBag.Popup != null && (bool)ViewBag.Popup;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NoteApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/schoolWebApp.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet">
    @RenderSection("Head", required: false)
</head>
<body>

    @if (popup)
    {
        <div class="container body-content">
            @RenderBody()
        </div>
    }
    else
    {
        @if (SignInManager.IsSignedIn(User))
        {
            <header>
                <partial name="_Header" />
            </header>
        }
        <div class="container body-content">
            @RenderBody()
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootbox/bootbox.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
