@{
    ViewData["Title"] = "Authorized note view";
}

<h1 class="display-4">Welcome</h1>
<p>Testing notes page</p>
<button style="margin:1em; margin-left:0" class="btn btn-default">New Note</button>
 <div class="row product-list">
    <partial name="_Item" /> 
    <partial name="_Item" /> 
    <partial name="_Item" /> 
    <partial name="_Item" /> 
    <partial name="_Item" /> 
    <partial name="_Item" /> 
    <partial name="_Item" /> 
    <partial name="_Item" /> 
</div>
