@model NoteApp.Models.Dashboard.IndexModel
@{
    ViewData["Title"] = "Authorized note view";
}

<partial name="_Modal" />
<button id="add-new-note" style="margin:1em; margin-left:0" class="btn btn-default">New Note</button>
<div class="row product-list">
    @if (Model.UserNotes.Count != 0)
    {
        @foreach (var note in Model.UserNotes)
        {
            @Html.Partial("_Item", note)
        }
    }
    else
    {
        <p>Notes does not exist</p>
    }
</div>

@section Scripts
{
<script>
    $("#add-new-note").click(function(){
        $("#newNote-modal").modal('show');
        console.log("Testing");
    })
</script>
}