@model NoteApp.Models.Dashboard.IndexModel
@{
    ViewData["Title"] = "Authorized note view";
}

<partial name="_Modal" />
<div class="container">
    <button id="add-new-note" style="margin:1em; margin-left:0" class="btn btn-primary"><i class="fa fa-plus"></i> New Note</button>
    <div class="d-flex justify-content-center flex-wrap" style="gap:2em">
        @if (Model.UserNotes.Count != 0)
        {
            @foreach (var note in Model.UserNotes)
            {
                @Html.Partial("_Item", note)
            }
        }
        else
        {
            <p>Notes does not exist</p>
        }
    </div>
</div>

@section Scripts
{
<script>
    $("#add-new-note").click(function(){
        $("#newNote-modal").modal('show');
        console.log("Testing");
    })
</script>
}

